@{
    ViewData["Title"] = "Inicio";
    Layout = "_Layout";
}

<ol>
    <li>
        <a href='@Url.Content("~/GridComponent/Index")'>Libros</a>
    </li>
    <li>
        <a href='@Url.Content("~/GridComponent/Index")'>Autores</a>
    </li>
    <li>
        <a href='@Url.Content("~/GridComponent/Index")'>Colecciones</a>
    </li>
    <li>
        <a href='@Url.Content("~/GridComponent/Index/12")'>Comics</a>
    </li>
    <li>
        <a href='@Url.Content("~/GridComponent/Index/0")'>Dibujantes</a>
    </li>
    
</ol>
