@{
    ViewData["Title"] = "Inicio";
}

<ol>
    <li>
        <a href='@Url.Content("~/GridComponent/Index")'>Autores</a>
    </li>
    <li>
        <a href='@Url.Content("~/GridComponent/Index")'>Libros</a>
    </li>
    <li>
        <a href='@Url.Content("~/GridComponent/Index")'>Categorias</a>
    </li>
    <li>
        <a href='@Url.Content("~/GridComponent/Index/12")'>Best Seller</a>
    </li>
    <li>
        <a href='@Url.Content("~/GridComponent/Index/0")'>Nuevo</a>
    </li>
    <li>
        <a href='@Url.Content("~/GridComponent/Index/0")'>Nuevo2</a>
    </li>
</ol>
